.container {
    font-family: SansSerif;
    background: antiquewhite;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.divUsers {
    margin: 10px;
    width: 35%;
    height: 20vh;
    background: darkslategray;
    color: white;
    border-radius: 15px;
}

.button {
    color: white;
    border-radius: 15px;
    background: black;
}
