.container {
    font-family: SansSerif;
    background: antiquewhite;
    display: flex;
    justify-content: center;
    height: 40vh;
}
.block {
    height: 30vh;
    margin-top: 10px;
    padding-top: 20px;
    background: darkslategray;
    color: white;
    border-radius: 15px;
    text-align: center;
    width: 40%;
}
.blockBtn {
    height: 10vh;
    padding: 10px;
    background: antiquewhite;
    display: flex;
    justify-content: center;
}
.button {
    border-radius: 15px;
    background: black;
    color: white;
}
.commDiv {
    background: antiquewhite;
    display: flex;
    justify-content: center;
}
.div {
    background: darkslategray;
    width: 15%;
    padding: 5px;
    margin: 0 10px 10px 10px;
    text-align: center;
    color: white;
    border-radius: 15px;
}