.generalBlock {
    font-family: SansSerif;
    background: antiquewhite;
    display: flex;
    justify-content: center;
}

.usersBlocks {
    margin: 10px;
    width: 40%;
    background: darkslategray;
    color: white;
    text-align: center;
    border-radius: 15px;

}


.blockBtn {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: antiquewhite;
    padding: 130px;

}
.button {
    width: 40%;
    height: 10vh;
    border-radius: 15px;
    background: black;
    color: white;
}


.cont {
    display: flex;
    flex-wrap: wrap;
}

.postDiv {
    box-sizing: border-box;
    margin: 10px;
    padding: 5px;
    background: darkslategray;
    width: 17%;
    height: 200px;
    text-align: center;
    border-radius: 15px;
    color: white;

}

.buttons {
    background: black;
    color: white;
    border-radius: 15px;

}
